<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

<!-- Database connection settings -->
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/trinitydb</property>
<property name="connection.username">root</property>
<property name="connection.password">p0m0d0r1n1</property>

<!-- JDBC connection pool (use the built-in) -->
<property name="connection.pool_size">1</property>
<!-- SQL dialect -->
<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
<!-- Disable the second-level cache  -->
<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
<!-- Echo all executed SQL to stdout -->
<property name="show_sql">true</property>
<!-- Drop and re-create the database schema on startup -->
<property name="hbm2ddl.auto">update</property>

<!-- <hibernate-mapping package="com.trinity.model" >
    <class name="UtenteRegistrato" table="utenteregistrato" lazy="true" />
	<class name="AstaSuperamentoImmediato" table="astasuperamentoimmediato" lazy="true" />
	<class name="Oggetto" table="oggetto" lazy="true" />
	<class name="Categoria" table="categoria" lazy="true" />
	<class name="OffertaSuperamentoImmediato" table="offertasuperamentoimmediato" lazy="true" />
</hibernate-mapping>-->

<mapping class="com.trinity.model.UtenteRegistrato"/>
<mapping class="com.trinity.model.AstaSuperamentoImmediato"/>
<mapping class="com.trinity.model.Oggetto"/>
<mapping class="com.trinity.model.Categoria"/>
<mapping class="com.trinity.model.OffertaSuperamentoImmediato"/>
<mapping class="com.trinity.model.AstaBustaChiusa"/>

</session-factory>
</hibernate-configuration>